#detalji_tabela td{
    padding: 2%;
}
#upiti{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}
#upiti li{
    border: solid black 1px;
    background-color: white;
    padding: 1%;
    margin: 1% 1% 1% 2%;
}
h3 {
    margin-left: 2%;
}
#osnovno{
    margin-left: 2%;
}