#stanovi, #kuce, #pprostori {
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    grid-gap: 20px;
}
#stanovi img, #kuce img, #pprostori img{
    width:100%;
}
#stanovi div{
    background-color: white;
}
#kuce div{
    background-color: powderblue;
}
#pprostori div{
    background-color: green;
}
.naziv_nekretnine{
    text-align: left;
}
.kvadratura{
    text-align: left;
}
.cijena{
    text-align: right;
}
.dugme_container{
    text-align: center;
}
