html{
    background-color: #fdf1d3;
    height: 50px;
}

#menu{
    list-style: none;
    text-align: center;
}

#menu li{
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    color: #0000EE;
}

#menu li a{
    text-decoration: none;
}

#menu li :hover{
    color: #ff9900;
}